* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

@font-face {
    font-family: 'CaviarDreams';
    src: url(../font/CaviarDreams.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviardreams';
    src: url(../font/Caviar_Dreams_Bold-webfont.woff);
}

body {
    background-color: rgb(228, 176, 185);
}

.box {
    margin-top: 10px;
    width: 70%;
    height: 92vh;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 35px;
    box-shadow: -14px -2px 11px rgb(0 0 0 / 20%);
    position: relative;
    overflow: hidden;
}

.box1 {
    width: 50%;
    height: 100%;
    /* border: 2px solid rgb(66, 16, 16); */
    float: left;
    text-align: center;

}

.social p {
    font-size: 20px;
    font-family: CaviarDreams;

}

.box2 {
    width: 50%;
    height: 100%;
    /* border: 2px solid rgb(52, 159, 17); */
    float: right;
}

.box1 h2 {
    color: rgb(184, 51, 51);
    margin-top: 50px;
    font-size: 40px;
    font-family: CaviarDreams;

}

.social p {
    margin-top: 30px;
    color: gray;
    font-size: 18px;
}

.social a {
    width: 50px;
    height: 50px;
    color: rgb(128, 18, 18);
    border: 1px solid rgb(128, 18, 18);
    border-radius: 50%;
    padding: 15px;
    margin: 20px;
    display: inline-block;
    transition: 0.5s;
    font-size: 21px;
}

.social a:hover {
    background-color: rgb(128, 18, 18);
    color: aliceblue;

}


button {
    padding: 10px 20px;
    background-color: rgb(168, 65, 65);
    border: none;
    border-radius: 30px;
    color: aliceblue;
    margin-top: 30px;
    font-size: 20px;
    font-family: CaviarDreams;
}

.box2 {
    background-image: url(../img/loginimg123.jpg);
    background-position: right bottom;
    position: absolute;
    border-radius: 50%;
    width: 800px;
    height: 800px;
    top: -9%;
    left: 50%;
    background-size: cover;

}

#login input {
    background-color: rgb(234, 178, 187);
    color: gray;
    border: none;
    padding: 15px;
    margin: 15px auto;
    width: 300px;
    font-family: CaviarDreams;
    display: block;
}

#login {
    text-align: center;
}

#login a {
    display: block;
    text-decoration: none;
    color: rgb(128, 18, 18);
    margin: 20px;
    font-family: CaviarDreams;
}