* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;

}
.canteiner{
    max-width: 1200px;
    margin: 50px auto;
}
.canteiner h1{
    font-size: 40px;
}

.canteiner p {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}
.block{
    display: flex;
}

.box {
    gap: 10px;
    flex: 0 0 400px;
}
.box img{
    width: 85px;
}

.box h3 {
    font-size: 20px;
    margin: 20px 0 30px 0;
}

.box p {
    font-size: 18px;
    color: rgb(56, 54, 54);
    line-height: 30px;
}