*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
.box1{
    height:100px;
    width: 70%;
    /* border: 2px solid black; */
}
.box2{
    height: 100%;
    width: 30%;
    float: left;
    /* border: 2px solid rgb(193, 32, 32); */

}
.box1 img{
    color: blue;
    float:right;
    width: 20%;
    height: 100%;

}
.box3 img{
    height: auto;
    width: 20%;
    float: right;
    /* border: 2px solid rgb(193, 32, 32); */

}
.box4{
    height: 600px;
    width: 70%;
    /* border: 2px solid rgb(18, 180, 34); */
}
.box5{
    height: 75%;
    width: 100%;
    /* border: 2px solid rgb(16, 76, 22); */
    /* float: left;
  */
}
.box5 img{
    height: 100%;
    width: 100%;
}
.box6{
    height:25%;
    width:100%;
    /* border: 2px solid rgb(190, 193, 33); */
    /* float: left; */
}
.box6 strong {
    color: blue;
}
.box00{
    height: 260px;
    width: 30%;
    /* border: 2px solid rgb(239, 125, 32); */
    float: left;
    margin: 10px;
}
.box6 i {
    float: right;
    margin: 10px 10px 0 0;
    border-radius: 50px;
    padding: 3px;
    border: 1px solid black;
}